@font-face {
  font-family: Cubano;
  src: url("../fonts/Cubano-Regular.otf") format("opentype"); }
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: Roboto;
  color: #454c4c;
  background-color: #fff;
  margin: 0; }

h1 {
  font-weight: lighter;
  font-family: Cubano;
  font-size: 64pt;
  margin: 0px auto;
  margin-top: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #222; }

h2 {
  margin: 10px;
  margin-bottom: 20px; }

.header {
  height: 100%;
  padding: 10px;
  padding-top: 3%;
  overflow: hidden;
  background-color: #7ac1a4;
  width: 100%; }
  .header .right, .header .left {
    height: 100%;
    width: 49%;
    vertical-align: middle;
    display: inline-block; }
  .header .logo {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 20px auto;
    height: 100px;
    width: 100px; }
  .header .banner {
    color: #fff;
    text-align: center;
    background-color: #383838;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0; }

.iphone {
  height: 568px;
  width: 320px;
  background-color: #383838;
  margin: 0px auto;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
