!!!5
%head
  %title Bubble App
  %link{:rel => :stylesheet, :type => :"text/css", :href => "css/styles.css"}
  %link{:href =>'http://fonts.googleapis.com/css?family=Roboto', :rel => 'stylesheet', :type => 'text/css'}
%body
  .header
    .banner
      %p Available soon in the App Store.
    .half-bit
      .logo
      %h1 Bubble
      %h2 Share and Chat with Friends Around You
    .half-bit
      .iphone
  .container
    .bit.yellow
      .half-bit
        %h3 Quick &amp; Easy Setup
        %p No registration required! Just choose a username others can recognize you by, and you're all set.
      .half-bit
        .img-stub
    .bit.light-green
      .half-bit.right
        %h3 Make a Bubble
        %p Connect with others nearby to share with them in a Bubble.
      .half-bit.left
        .img-stub
    .bit.red
      .half-bit
        %h3 Share Photos or Chat
        %p Share photos or chat without internet or signal required.
      .half-bit
        .img-stub 
    .bit.footer
      .half-bit.right
        %h4
          A project by 
          %a{:href=>"http://hcdeevee.tumblr.com/team"}Code Eevee.
        %p For HCDE Spring 2014 Capstone.
        .sm-wrapper
          %a.sm.twitter{:href => 'https://twitter.com/app_bubble'}
            %a.sm.fb{:href => 'https://www.facebook.com/pages/Bubble-App/633738363382966'}
          %a.sm.tumblr{:href => 'http://hcdeeevee.tumblr.com'}
      .half-bit
        .img-stub 
