!!!5
%head
  %title Bubble App
  %link{:rel => :stylesheet, :type => :"text/css", :href => "css/styles.css"}
  %link{:href =>'http://fonts.googleapis.com/css?family=Roboto', :rel => 'stylesheet', :type => 'text/css'}
%body
  .header
    .banner
      %p Available soon in the App Store.
    .left
      .iphone
    .right
      .logo
      %h1 Bubble
      %h2 Share and Chat with Friends Around You
  .container
    blah blah
   
