$green: #7AC1A4;
$yellow: #FDD200;
$red: #E96D57;
$gray: #454C4C;
$black:#383838;

@font-face {
  font-family: Cubano;
  src: url("../fonts/Cubano-Regular.otf") format("opentype");
}
* {
  box-sizing:border-box;
}
html, body {
  height:100%;
}
body {
  font-family:Roboto;
  color:$gray;
  background-color:$green;
  margin:0;
}
h1 {
  font-weight:lighter;
  font-family:Cubano;
  font-size:64pt;
  margin:0px auto;
  margin-top:50px;
  color:#fff;
  text-shadow:1px 1px 1px #222;
}
h2 {
  margin:10px;
  margin-bottom:20px;
}

.header {
  height:100%;
  padding:10px;
  padding-top:80px;
  overflow:hidden;
  width:100%;
  .header-bit {
    height:100%;
    width:49%;
    vertical-align:middle;
    display:inline-block;
    h1,
    h2 {
      margin-left:20%;
    }
  }
  .logo {
    -webkit-border-radius:50%;
    border-radius:50%;
    border:2px solid #fff;
    margin:20px auto;
    height:100px;
    width:100px; 
  }
  .banner {
    color:#fff;
    text-align:center;
    background-color:$black;
    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    left:0;
  }
}

.iphone {
  height:568px;
  width:320px;
  background-color:$black;
  margin: 0px auto;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.bit {
  width:100%;
  height:300px;
  &.yellow {
    background-color:$yellow;
  }
}

@media (min-width:0px) and (max-width:792px) { 
  .header {
    padding-top:0;
    .header-bit {
      display:block;
      height:39%;
      width:100%;
      h1 {
        margin-top:0; 
      }
      .iphone {
        height:412px;
      }
    }
  }
}
